body {
    background-color: rgb(252, 251, 251);
}

body img {
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}

header {
    width: 25%;
    float: left;
}

nav {
    width: 70%;
    float: right;
    margin: 5em 3em 0 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    font-size: 1.75em;
}

nav li a {
    display: block;
    color: rgb(238, 101, 101);
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

p {
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

img {
    vertical-align: middle;
}

main {
    clear: left;
}

/* New Selectors */

#blackberry,
#kiwi,
#mango {
    margin: 0 2%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

/* Media Screen for Tablets and Desktops */

@media screen and (min-width: 690px) {
    .tablet-desktop {
        display: block;
    }

    .mobile {
        display: none;
    }

    header {
        position: static;
        padding-bottom: 7%;
    }

    nav li {
        border-top: none;
        display: inline-block;
        border-right: 1px solid #fff;
    }

    nav li:last-child {
        border-right: none;
    }

    nav li a {
        padding: 0.1em 0.75em;
    }

    main ul {
        margin: 0 0 4% 10%;
    }

    .tel-num {
        font-size: 1.25em;
        text-align: center;
    }

    .map {
        width: 600px;
        height: 450px;
    }
}
