
body {
   background-color: rgb(252, 251, 251);
}

body img {
   margin: 0;
   padding: 0;
   position: relative;
   width: auto;
}

header {
   position: -webkit-sticky;
   top: 0;
   background-color: rgb(232,113,100);
   height: 15px;
   padding: 10px; /* Changed to fixed value */
}

header img {
   margin: 0 auto;
}

nav {

   margin: 5em 3em 0 0;
   padding: 1%;
   margin-bottom: 1%;
}

nav ul {
   list-style-type: none;
   margin: 0;
   text-align: center;
}

nav li {
   font-size: 1.75em;
   font-family: 'Send Flower', cursive;
   border-top: 1px solid rgb(225,36,36); /* Corrected property name */
}

li:first-child {
   border-top: none;
}

nav li a {
   display: block;
   color: rgb(238, 101, 101);
   text-align: center;
   padding: 0.5em 1em;
   text-decoration: none;
}

p {
   color: #685206;
   font-family: 'Helvetica Neue', sans-serif;
   font-size: 14px;
   line-height: 24px;
   margin: 0 0 24px;
   text-align: justify;
   text-justify: inter-word;
}

img {
   vertical-align: middle;
   max-width: 100%;
   color: rgb(255,36,36);
   text-decoration: none;
   display: block;
}

.tel-link a {
   color: rgb(225,36,36);
   text-decoration: none;
   font-size: 1.5em;
   display: block;
}

.tel-link {
   background-color: #404040;
   padding: 2%;
   margin: 0 auto;
   width: 80%;
   text-align: center;
   border-radius: 5px;
}

main {
   clear: left;
   background-color: #fff;
   padding: 2%;
   font-size: 1.25em;
   font-family: 'Roboto', sans-serif;
}

footer {
   font-size: 0.75em;
   text-align: center;
   color: rgb(225,36,36);
   padding: 0 1em;
   padding-top: 20px; /* Added some padding */
}

footer p a {
   color: rgb(225,36,36);
   text-decoration: none;
}

#contact {
   text-align: center;
}

#contact a {
   color: #666600;
   text-decoration: none;
}

.hours {
   margin-left: 10%;
}

.blackberry, #kiwi, #mango {
   margin: 0 2%;
}

.center {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: auto;
}

@media screen and (min-width: 690px) {
   .tablet-desktop {
       display: block;
   }

   .mobile {
       display: none;
   }

  header {
   position: -webkit-sticky;
   top: 0;
   background-color: rgb(232,113,100);
   height: 15px;
   padding: 10px; /* Changed to fixed value */
}

   nav li {
       border-top: none;
       display: inline-block;
       border-right: 1px solid #fff;
   }

   nav li:last-child {
       border-right: none;
   }

   nav li a {
       padding: 0.1em 0.75em;
   }

   main ul {
       margin: 0 0 4% 10%;
   }

   .tel-num {
       font-size: 1.25em;
       text-align: center;
   }

   .map {
       border: 8px solid #000;
   }
}


